@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;    
}

main {
    color: black;
}

h1 {
    margin: 10px;
    color: white;
}

h2 {
    font-size: 1.5em;
    margin-top: 1px;
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

a {
    text-decoration: none !important;
}

label {
    font-weight: 700;
    padding: 10px;

}

.islandCard {
    width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.islandCard a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.mainImage {
    height: 250px; 
    width: 250px;
    margin-bottom: 1px;
}

.island-main-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    justify-content: center;

}

#main-label {
    margin-top: 50px;
    margin-left: 13.2%;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.islandName {
    text-align: center;
    font-size: 50px;
    margin: 30px;
    margin-top: 100px;
}

.forecast {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
#tempcolor {
    color: orange;
}

.islandLongBio {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 50%;
    margin: auto;
    line-height: 35px;
    font-size: 20px;
    text-align: justify;
}

#category-drop-down {
    width: 900px;
    height: 40px;
    border: 3px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    cursor: pointer;
    
}

.search-filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    
}

/* ALL ISLANDS CARDS */

.main-all-islands-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: space-between;
    margin-top: 100px;
}
.main-all-islands-cards p {
    color: black;
}

.all-island-cards {
    border: 2px white;
    text-decoration: none;
    color: black;
    margin: 15px;
    width: 300px;
    text-align: center;
    height: auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#black-text {
    color: black;
}

.all-islands-images {
    width: 275px;
    height: 275px;
    margin: 0px;
}
.all-islands-names {
    margin: 10px;
    padding: 5px;
    text-align: left;
    color: black !important;
}

.all-islands-description {
    margin: 10px;
    padding: 5px;
    text-align: left;
}

/* RANKED ISLANDS PAGE */

.ranked-islands-images {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ranked-islands-names {
    text-align: center;
    font-size: 50px;
    margin: 30px;
}

.ranked-islands-description {
    margin-top: 30px;
    width: 50%;
    margin: auto;
    line-height: 35px;
    font-size: 20px;
    text-align: justify;
}

.ranked-list {
    padding-top: 50px;
}

.ranked-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 65px;
}

.travel-warning {
    margin-top: 85px;
    padding: 0;
}

/* BOOTSTRAP STYLES */

/* NAVBAR */

.navbar-solid {
    font-size: 16px !important;
}

a.navbar-brand {
    padding-left: 50px;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 30px !important;
    color: white;
}

.navbar-solid {
    background-color: rgba(25, 100, 250, 0.9);
}

a.nav-link {
    color: white !important;
}

/* CAROUSEL */

.carousel-caption {
    margin-bottom: 40rem;
}

.carousel li {
    padding: 1px;
}


.dropdown {
    padding-right: 50px;
}

.help li {
    color: white;
}



