@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    /* border-top: 20px solid #0373d9; */
    margin: 0;
    font-family: 'Montserrat', sans-serif;    
}

/* header {
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    background-color: #0373d9;
    list-style-type: none;
    color: white;
    width: 1000%;
    overflow-x: hidden;
    position: fixed;
    z-index: 9999;
} */

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

h1 {
    margin: 10px;
    /* font-size: 2em; */
    /* margin-bottom: 0px; */
    color: white;
}

h2 {
    font-size: 1.5em;
}

/* main {
    margin-left: 15em;
    margin-right: 15em;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* button {
    margin-bottom: 20px;
    background-color: #0373d9;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 8px;
} */

.islandCard {
    /* padding: 10px; */
    /* border: 3px solid black; */
    /* height: 350px; */
    width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.islandCard a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.mainImage {
    height: 250px; 
    width: 250px;
    margin-bottom: 1px;
}

.island-main-cards {
    /* width: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

h2 {
    margin-top: 1px;
    font-size: 20px;
    /* text-decoration: a; */
}

a {
    color: black;
    text-decoration: none;
}

header a {
    color: white;
}

#main-label {
    margin-top: 50px;
    margin-left: 190px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
}

.image {
    /* border-radius: 8px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.islandName {
    text-align: center;
    font-size: 50px;
    margin: 30px;
    margin-top: 150px;
}

.forecast {
    text-align: center;
    font-size: 20px;
}

.islandLongBio {
    /* text-align: center; */
    padding-top: 30px;
    /* margin-left: 100px; */
    padding-bottom: 50px;
    width: 50%;
    margin: auto;
    line-height: 35px;
    font-size: 20px;
}

#category-drop-down {
    width: 900px;
    height: 40px;
    border: 3px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    cursor: pointer;
    
}

.search-filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    
}

.submit-button {
    height: 40px;
    width: 100px;
    background-color: #0373d9;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
label {
    font-weight: 700;
    padding: 10px;

}

/* nav ul li:hover {
    background-color: royalblue;
    padding: 0.5rem;
} */

/* ALL ISLANDS CARDS CSS */

.main-all-islands-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: space-between;
    margin-top: 100px;
}

.all-island-cards {
    border: 2px white;
    text-decoration: none;
    margin: 15px;
    width: 300px;
    text-align: center;
    height: auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all-islands-images {
    width: 275px;
    height: 275px;
    /* margin-top: 10px; */
    margin: 0px;
}
.all-islands-names {
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.all-islands-description {
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.ranked-islands-images {
    width: 50%;
    /* border-radius: 8px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ranked-islands-names {
    text-align: center;
    font-size: 50px;
    margin: 30px;
}

.ranked-islands-description {
    /* text-align: center; */
    margin-top: 30px;
    /* margin-left: 100px; */
    width: 50%;
    margin: auto;
    line-height: 35px;
    font-size: 20px;
}

.ranked-list {
    padding-top: 100px;
}

.travel-warning {
    /* padding-top: 100px; */
    margin-top: 85px;
    /* margin-bottom: 0; */
    padding: 0;
}

/* ul, ul.visited {
    color: #b22222;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* nav {
    width: 1000px;
    font-size: 2rem;
    background-color: black;
} */

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: auto;
    text-align: center;
}

nav ul li {
    cursor: pointer;
    padding: 0.5rem;
}

nav ul li:hover {
    background-color: lightgrey;
    padding: 0.5rem;
}

ul.main-links {
    display: flex;
    justify-content: space-around;
    margin: 0px;
} */



/* BOOTSTRAP STYLES */

/* NAVBAR */

.navbar-brand {
    padding-left: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px !important;
}

.navbar-solid {
    background-color: rgba(25, 100, 250, 0.9);
    /* color: white; */
}

.navbar-solid li {
    color: white;
}

/* CAROUSEL */

.carousel-caption {
    margin-bottom: 40rem;
}

.carousel li {
    padding: 1px;
}


.dropdown {
    padding-right: 50px;
}

.help li {
    color: white;
}



